<p id="notice"><%= notice %></p>
<%= link_to "+1" , spot_path(@spot, upvote: true)%>
<p>
  <strong>Votes:</strong>
  <%= @spot.votes %>
</p>
<p>
  <strong>River:</strong>
  <%= @spot.river %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spot.description %>
</p>
<p>
  <strong>Km:</strong>
  <%= @spot.km %>
</p>
<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
